<script>
    $("#add_project_task").click(function () {
        let pid = $(this).attr("data-id")
        $("#save_task").click(function () {
            let task_name = $("#task_name").val();
            let task_description = $("#task_description").val();
            let task_file = $("#task_file").val();
            let csrf_token = $("input[name=csrfmiddlewaretoken]").val()
            let task_data = {pid: pid, task_name: task_name, task_description: task_description, task_file: task_file,csrfmiddlewaretoken:csrf_token}
            if (task_name == ""){
                alert('Task name shouldnt be blank')
            }
            else {
            $.ajax({
                url: "{% url 'add_project_task' %}",
                method: "POST",
                data: task_data,
                success:function (response){
                    console.log(response)
                    $("#add_task").modal('hide');
                    $('#add_task form')[0].reset();
                    $("#project_message").text(response);
                }
            })
            };
        })

    })
</script>

{#function myFunction() {#}
{#            document.getElementById('project_name_link').href#}
{#                ="{% url 'view_task' pk %}";#}
{##}
{#};#}